apiVersion: install.istio.io/v1alpha1
kind: IstioOperator
metadata:
  name: istio-controlplane
  namespace: istio-system
spec:
  profile: default

  meshConfig:
    accessLogFile: /dev/stdout
    enableTracing: true
    defaultConfig:
      tracing:
        sampling: 100.0
        zipkin:
          address: jaeger-collector.monitoring:9411

  components:
    pilot:
      k8s:
        resources:
          requests:
            cpu: 100m
            memory: 256Mi

    ingressGateways:
      - name: istio-ingressgateway
        enabled: true
        k8s:
          # LoadBalancer: IngressGateway is now the external entry point (Coraza WAF via WasmPlugin)
          serviceAnnotations:
            metallb.universe.tf/loadBalancerIPs: 172.20.20.21
          service:
            type: LoadBalancer
          resources:
            requests:
              cpu: 50m
              memory: 64Mi

  values:
    global:
      proxy:
        resources:
          requests:
            cpu: 10m
            memory: 64Mi
